// styles/mixins.scss
@import "./variables.scss";

@mixin text-box-styles {
  padding: $spacing-150 $spacing-300;
  border-radius: 8px;
  border: 1px solid $grey500;
  font-size: 18px;

  &:hover {
    border-color: $green600;
  }

  &:focus {
    border-color: $green600;
    outline: none;
  }

  &:active {
    border-color: $green600;
  }

  &.error {
    border-color: $redError;
  }

  &.filled {
    border-color: $grey500;
  }
}

@mixin radio-button-styles {
  padding: $spacing-150 $spacing-300;
  border: 1px solid $grey500;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 12px;
  accent-color: $green600;

  .radio {
    height: 24px;
    width: 24px;
  }

  label {
    margin-bottom: 0px;
  }

  &:hover {
    border-color: $green600;
  }
}
