//colors
$grey900: #2a4144;
$grey500: #86a2a5;
$white: #d3d3d3;
$green600: #0c7d69;
$green200: #e0f1e8;
$redError: #d73c3c;

// Fonts
$body-font-family: "Karla", sans-serif;
$heading-font-family: "Roboto", sans-serif;

//spacing
$spacing-1600: 128px;
$spacing-500: 40px;
$spacing-400: 32px;
$spacing-300: 24px;
$spacing-200: 16px;
$spacing-150: 12px;
$spacing-100: 8px;

//screen size
$mobile: 375px;
$tablet: 768px;
$desktop: 1440px;
