@import "./styles/variables.scss";
@import "./styles/mixins.scss";

body {
  font-family: $body-font-family;
  color: $grey900;
}

.text-box {
  @include text-box-styles;
}

.col-sm-6,
.col {
  display: flex;
  flex-direction: column;
}

.radio-button {
  @include radio-button-styles;
}

.checked {
  background-color: $green200;
}

.checkbox {
  accent-color: $green600;
}

textarea {
  font-family: Karla, sans-serif;
}

button {
  background-color: $green600;
  color: $white;
  border: 1px solid $green600;
  padding: $spacing-200 $spacing-400;
  border-radius: 8px;
  cursor: pointer;

  &:hover {
    border-radius: 8px;
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5) 0%,
        rgba(0, 0, 0, 0.5) 100%
      ),
      $green600;
  }
}
