@import "./styles/variables.scss";
@import "./styles/mixins.scss";

body {
  font-family: $body-font-family;
  color: $grey900;
}

.text-box {
  @include text-box-styles;
}

.col-sm-6,
.col {
  display: flex;
  flex-direction: column;
}
