@import "./styles/variables.scss";
@import "./styles/mixins.scss";

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-top: $spacing-400;
}
body {
  font-family: $body-font-family;
  color: $grey900;
  background-color: $green200;
}

.entireForm {
  background-color: white;
  padding: $spacing-500;
  width: 375px;
}

.text-box {
  @include text-box-styles;
}

label {
  margin-bottom: $spacing-100;
}

.spacing-300 {
  margin-bottom: $spacing-300;
}

.col-sm-6,
.col {
  display: flex;
  flex-direction: column;
}

.radio-button {
  @include radio-button-styles;
}

.checked {
  background-color: $green200;
}

.checkbox {
  accent-color: $green600;
  height: 24px;
  width: 24px;
}

textarea {
  font-family: Karla, sans-serif;
}

button {
  background-color: $green600;
  color: $white;
  border: 1px solid $green600;
  padding: $spacing-200 $spacing-400;
  border-radius: 8px;
  cursor: pointer;

  &:hover {
    border-radius: 8px;
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5) 0%,
        rgba(0, 0, 0, 0.5) 100%
      ),
      $green600;
  }
}

h2 {
  font-size: $spacing-400;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -1px;
}

.generalEnquiry {
  margin-bottom: $spacing-200;
}

.form-label {
  font-size: $spacing-200;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

.form-check-label {
  font-size: var(--font-size-body-md, 18px);
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 27px */
}

.contact-consent-section {
  display: flex;
  align-items: center;

  label {
    margin: 0px 0px 0px $spacing-200;
  }
}

.consent {
  font-size: var(--font-size-body-sm, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

@media screen and (min-width: $tablet) {
  .entireForm {
    width: 690px;
  }

  .generalEnquiry {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: $desktop) {
  .entireForm {
    width: 736px;
  }

  .page {
    padding-top: 0px;
  }
}
